swagger: "2.0"
info:
  title: working report
  description: submit daily workig report.
  version: 1.0.1
host: time.m3m.dev
basePath: /api
schemes:
  - https

paths:
  /addUser.php:
    post:
      summary: add user
      parameters:
        - in: header
          name: token
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                role:
                  type: string
                required: true
                phone:
                  type: string

            examples:
              test:
                value:
                  name: "محمد مهدی محبی"
                  role: "برنامه نویس"
                  phone: "09221321311"
      responses:
        '200':
          description: submitted

  /getUsers.php:
    get:
      summary: get users list
      responses:
        '200':
          description: list of users.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/Model/user'
                example: [ {
                  id: "62d29adb4546ab0f754ee4ce",
                  isActive: true,
                  name: "محمد مهدی محبی",
                  role: "برنامه نویس",
                  systemRole: "user",
                  phone: "09221321311",
                } ]

  /getUser.php:
    get:
      summary: get one user
      parameters:
        - in: query
          name: userID
          schema:
            type: string
          description: the user id
      responses:
        '200':
          description: user.
          content:
            application/json:
              schema:
                $ref: '#/Model/user'
              example:
                id: "62d29adb4546ab0f754ee4ce"
                isActive: true
                name: "محمد مهدی محبی"
                role: "برنامه نویس"
                systemRole: "ROOT"
                phone: "09221321311"

  /getAdminByID.php:
    get:
      summary: get admin by ID
      parameters:
        - in: query
          name: adminID
          schema:
            type: string
          description: the user id
      responses:
        '200':
          description: admin.
          content:
            application/json:
              schema:
                $ref: '#/Model/admin'
              example:
                id: "62d29adb4546ab0f754ee4ce"
                token: "d29adb4546ab0f754ee4ced29adb4546ab0f754ee4ce"
                name: "محمد مهدی محبی"
                role: "مدیر مجموعه"
                systemRole: "user"
                phone: "09221321311"
                companyID: "62d39f952710907a46033c3c"



  /getCompany.php:
    get:
      summary: get company
      parameters:
        - in: query
          name: company
          schema:
            type: string
          description: the company english name
      responses:
        '200':
          description: company data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  eName:
                    type: string
                  pName:
                    type: string
                  logo:
                    type: string
                  phone:
                    type: string
                  timeFields:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        required:
                          type: boolean
                        sampleValues:
                          type: array
                          items:
                            type: string
                  textFeilds:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        required:
                          type: boolean

                example:
                  _id: "62d39f952710907a46033c3c"
                  eName: "Arnoya"
                  pName: "آرنویا"
                  logo: "https://ttt.com/logourl"
                  phone: "0123456587"
                  timeFields: [
                      {
                        title: "ساعت کار",
                        required: true,
                        sampleValues:['05:00','06:00','07:00','08:00'],
                      }
                  ]
                  textFeilds: [
                    {
                      title: "شرح اقدامات",
                      required: true,
                    }
                  ]
        '404':
          description: company not found.

  /upsertReport.php:
    post:
      summary: send or edit report
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                userID:
                  type: string
                companyID:
                  type: string
                jalaliDate:
                  type: string
                timeFields:
                  $ref: '#/Model/timeFieldsVal'
                textFields:
                  $ref: '#/Model/textFieldsVal'
            examples:
              t1:
                summary: An example of a new report
                value:
                  userID: "62d39f952710907a46033c3c"
                  companyID: "62d39f952710907a46033c3c"
                  jalaliDate: "1401/04/25"
                  timeFields: '[
                    {
                      "title": "ساعت کار",
                      "value": 5,
                    }
                  ]'
                  textFeilds: '[
                    {
                      "title": "شرح اقدامات",
                      "value": "یک متن تستی...",
                    }
                  ]'
      responses:
        '200':
          description: report is submited


  /getUserPreviousReports.php:
    get:
      summary: get user last reports
      parameters:
        - in: query
          name: userID
          schema:
            type: string
          description: the user id
        - in: query
          name: startDate
          schema:
            type: string
          description: start date to get info (1401/05/01)
        - in: query
          name: endDate
          schema:
            type: string
          description: end date to get info (1401/05/22)

      responses:
        '200':
          description: user reports.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type: object
                  properties:
                    userID:
                      type: string
                    companyID:
                      type: string
                    jalaliDate:
                      type: string
                    createdAt:
                      type: number
                    canEdit:
                      type: boolean
                    remainTime:
                      type: number
                    timeFields:
                      $ref: '#/Model/timeFieldsVal'
                    textFields:
                      $ref: '#/Model/textFieldsVal'
                example:
                  {
                    "1401/05/01":{
                      canEdit: false,
                      remainTime: -1
                    },
                    "1401/05/02":{
                      userID: "62d39f952710907a46033c3c",
                      companyID: "62d39f952710907a46033c3c",
                      jalaliDate: "1401/04/25",
                      createdAt: 1658044738,
                      dayTimestamp: 1657929600,
                      canEdit: true,
                      remainTime: 265411,
                      timeFields: [
                        {
                          title: "ساعت کار",
                          value: 5,
                        }
                      ],
                      textFeilds: [
                        {
                          title: "شرح اقدامات",
                          value: "یک متن تستی...",
                        }
                      ]
                    }
                  }

  /getAdminReports.php:
    get:
      summary: get reports for admin
      parameters:
        - in: header
          name: token
          schema:
            type: string
          required: true
        - in: query
          name: startDate
          schema:
            type: string
          description: start date to get info (1401/05/01)
        - in: query
          name: endDate
          schema:
            type: string
          description: end date to get info (1401/05/22)

      responses:
        '200':
          description: users reports.
          content:
            application/json:
              schema:
                type: object
                properties:
                  reports:
                    type: array
                    items:
                      type: object
                      properties:
                        userID:
                          type: string
                        companyID:
                          type: string
                        jalaliDate:
                          type: string
                        createdAt:
                          type: number
                        timeFields:
                          $ref: '#/Model/timeFieldsVal'
                        textFields:
                          $ref: '#/Model/textFieldsVal'
                        user:
                          $ref: '#/Model/user'
                  sentUsers:
                    type: array
                    items:
                        $ref: '#/Model/user'
                  unsentUsers:
                    type: array
                    items:
                        $ref: '#/Model/user'
                  canEdit: boolean
                  remainTime: number

                example:
                  {
                    "1401/05/02": {
                      canEdit: true,
                      remainTime: 265411,
                      reports:[
                        {
                          userID: "62d39f952710907a46033c3c",
                          companyID: "62d39f952710907a46033c3c",
                          jalaliDate: "1401/04/25",
                          createdAt: 1658044738,
                          dayTimestamp: 1657929600,
                          timeFields: [
                            {
                              title: "ساعت کار",
                              value: 5,
                            }
                          ],
                          textFeilds: [
                            {
                              title: "شرح اقدامات",
                              value: "یک متن تستی...",
                            }
                          ],
                          user: {
                            isActive: true,
                            name: "محمد مهدی محبی",
                            role: "برنامه نویس",
                            systemRole: "user",
                            phone: "09221321311",
                          }
                        }
                      ],
                      sentUsers:[
                        {
                          isActive: true,
                          name: "محمد مهدی محبی",
                          role: "برنامه نویس",
                          systemRole: "user",
                          phone: "09221321311",
                        }
                      ],
                      unsentUsers:[
                        {
                          isActive: true,
                          name: "محمد کریمدادی",
                          role: "برنامه نویس",
                          systemRole: "user",
                          phone: "",
                        }
                      ],

                    }
                }

  /editAdminReview.php:
    post:
      summary: edit or add admin report review
      parameters:
        - in: header
          name: token
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userID:
                  type: string
                companyID:
                  type: string
                jalaliDate:
                  type: string
                adminReview:
                  type: string
            examples:
              test:
                value:
                  userID: "62d39f952710907a46033c3c"
                  companyID: "62d39f952710907a46033c3c"
                  jalaliDate: "1401/05/05"
                  adminReview: "[{array of any obj than u want just stringify it and send}]"
      responses:
        '200':
          description: submitted



Model:
  timeFieldsVal:
    type: array
    items:
      type: object
      properties:
        title:
          type: string
        value:
          type: number

  textFieldsVal:
    type: array
    items:
      type: object
      properties:
        title:
          type: string
        value:
          type: string

  user:
    type: object
    properties:
      id:
        type: string
      isActive:
        type: boolean
      name:
        type: string
      role:
        type: string
      systemRole:
        type: string
      phone:
        type: string

  admin:
    type: object
    properties:
      id:
        type: string
      name:
        type: string
      role:
        type: string
      systemRole:
        type: string
      phone:
        type: string
      token:
        type: string
      companyID:
        type: string
